.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
.home-container{
    padding-top: 180px;
    padding-bottom: 250px;
}
.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-title{
    font-family: "Source Code Pro", sans-serif;
font-weight: 900;
font-size: 30px;
text-align: center;
color: #fff;
}
.home-text{
    margin-top: 10px;
    font-family: "Source Code Pro", sans-serif;
font-style: italic;
font-weight: 400;
font-size: 14px;
text-align: center;
color: #fff;
}
.home-text-wrapper{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    font-family: "Sora", sans-serif;
font-weight: 400;
font-size: 14px;
text-align: center;
color: #fff;
}
.home-link{
    margin-top: 20px;
    border-radius: 20px;
padding: 25px 35px;
width: 196px;
height: 51px;
background: linear-gradient(129deg, #7ac1ed 0%, #0c2bc7 100%);
font-family: "Source Code Pro", sans-serif;
font-weight: 900;
font-size: 14px;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
}
.home-link:hover{
    background: linear-gradient(129deg, #4e728b 0%, #0824b1 100%);
}
@media only screen and (min-width: 1440px) {
 .home-section{
    background-image: url("/img/home/desk.png");
 }   
 .home-container{
    padding-top: 228px;
    padding-bottom: 174px;
 }
 .home-title{
    font-size: 50px;
 }
 .home-text{
    font-size: 24px;
 }
 .home-text-wrapper{
    gap: 20px;
    font-size: 18px;
 }
 .home-link{
    margin-top: 100px;
width: 448px;
height: 80px;
font-size: 24px;
 }
}
/* A Field in Flux */
.field-text-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    width: 328px;
}
@media only screen and (min-width: 1440px) {
 .field-text-wrapper{
    margin-top: 50px;
    width: 779px;
 }
}
/* Core Gameplay */
.core-section{
    background-image: url("/img/core/mob.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.core-list{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.core-item{
    border: 1px solid rgba(255, 255, 255, 0.19);
        border-radius: 30px;
        padding: 22px 23px;
box-shadow: 0 0 35px 0 rgba(0, 255, 242, 0.1);
    background: #000f28;
    display: flex;
    align-items: center;
    gap: 18px;
}
.core-wrapper{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.core-text{
    width: 231px;
}
.core-container{
    padding-bottom: 70px;
}
@media only screen and (min-width: 1440px) {
 .core-section{
    background-image: url("/img/core/desk.png");
 }
 .core-list{
    margin-top: 50px;
    flex-wrap: wrap;
    height: 400px;
    justify-content: center;
    gap: 20px;
 }
 .core-item{
    width: 554px;
        height: 184px;
        align-items: start;
 }
.core-text{
    width: 420px;
}
.core-text-desk{
    width: 420px;
}
}
/* Match Mechanics */
.match-section{
    background-image: url("/img/match/mob.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.match-list{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.match-item{
    display: flex;
    align-items: center;
    gap: 16px;
    border: 1px solid rgba(255, 255, 255, 0.19);
        border-radius: 30px;
        padding: 22px 23px;
        box-shadow: 0 0 35px 0 rgba(0, 255, 242, 0.1);
            background: rgba(0, 15, 40, 0.8);
}
.match-img{
    width: 46px;
    height: 46px;
}

.match-text{
    margin-top: 6px;
    width: 214px;
}
@media only screen and (min-width: 1440px) {
 .match-list{
    margin-top: 50px;
    gap: 20px;
align-items: center;
 }
 .match-item{
    width: 794px;
    gap: 88px;
 }
 .match-img{
    width: 69px;
    height: 69px;
 }
 .match-text{
    width: 592px;
    font-size: 16px;
    margin-top: 13px;
    line-height: 1.5625;
 }

}