@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./footer.css');
@import url('./cookie-popup.css');


.background {
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}

.policy-container {
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 50px;
}

.privacy-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
    text-align: left;
}

.policy-link {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
    width: 24px;
    height: 24px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 30px;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text {
    margin-top: 20px;
}

.mail-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.policy-span {
    font-weight: 700;
}

@media only screen and (min-width: 1439px) {
    .background {
        font-size: 24px;
    }

    .privacy-title {
        font-size: 50px;
    }

    .policy-subtitle {
        font-size: 24px;
    }

    .policy-container {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 60px;
    }

    .policy-link {
        width: 41px;
        height: 41px;
    }
}